.landing-container {
  margin-top: 91px;
  height: 100%;
  padding: 30px;
}

.section-intro {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-benefits {
  margin-right: 30px;
  margin-left: 30px;
}